<!doctype html>
<html data-ng-app="directoryApp" data-ng-csp="">
<!-- 
	http://www.ng-newsletter.com/posts/chrome-apps-on-angular.html
	https://youtu.be/aG8VD0KvUw4	
	https://angular-tutorial.quora.com/Make-a-Todo-Chrome-Extension-with-AngularJS-1
-->
	<head>
		<title>BBVA Directory</title>
		<meta charset="utf-8">	
		<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, user-scalable=no">		
		<script src="lib/jquery-2.1.4.min.js"></script>
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/estilos.css">
		<link rel="stylesheet" href="css/flags.css">
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-route.min.js"></script>
		<script src="lib/xml2json.min.js"></script>		
		<script src="lib/jsonpath-0.8.0.js"></script>
		<script src="js/myApp.js"></script>		
		<!--<script src="js/directory.js"></script>-->
	</head>


	<body style="overflow:hidden;">		
		<div  data-ng-controller="MainCtrl"  class="mainBlock">
			<h2 class="title">Search BBVA directory</h2>
			<img id="optionsIcon" src="img/settings.png" class="optionsIcon" ng-click="goToOptions();">
			<img id="waitingIcon" src="img/ajax-loader.gif" style="display:none;float:right;">
			<span class="searchBox" >
					<label for="Usuario4">Search:</label>
					<span class="cajaboton2">
						<input placeholder="enter text" data-ng-model="data.searchedText" class="tipo" value="" name="ksni_user" id="ksni_user" autocomplete="on" type="text" my-enter="startSearch2" autofocus>
					</span>
					<div class="lupa" tooltip="click to search" tooltip-placement="right" tooltip-popup-delay="500" ng-click="startSearch('{{data.searchedText}}');"></div>				
			</span>			
			<hr>
			<div class="myList">
				<ul class="list-holder">
					<li data-ng-repeat="employee in data.employees" >
						<div class='userBox'>
							<table >
								<tr>
									<td style="width:60px;">
										<div class='photoFrame'>
											<img data-ng-src="{{employee.FOTOGRAFIA}}" class='photo'>
										</div>
									</td>
									<td style="width:350px;">
										<div class="userDetailsBox">
											<table style="width:100%;">												
												<tr>
													<td colspan="2" >
														<span style="font-weight:bold;">{{employee.NOMBRE}}  {{employee.APELLIDO1}}</span>
													</td>
													<td style="width:24px;">
														<img src="" class="flag flag-{{employee.COD_PAIS}}" title="{{employee.NOMBRE_PAIS}}">
													</td>
												</tr>
												<tr>
													<td ><span>{{employee.COD_USUARIO}}</span></td>
													<td> <span>{{employee.UNIDADORGANIZATIVA}}</span></td>
												</tr>	
												<tr class="detail">
													<td colspan="3"  >
														<img src="img/gmail.png" style="width:10px;">
														<span dialer-email short=false COD_PAIS={{employee.COD_PAIS}}>{{employee.EMAIL}}</span></td>
												</tr>				
												<tr class="detail">
													<td style="width:30%">
														<img src="img/phone.png" style="width:10px;">
														<span dialer-call short=false COD_PAIS={{employee.COD_PAIS}} title='Click to call'>{{employee.TELEFONOFIJOLARGO}}</span></td>
													<td style="padding-left:20px;">Ext: <span dialer-call short=true COD_PAIS={{employee.COD_PAIS}}>{{employee.TELEFONOFIJOCORTO}}</span></td>
												</tr>	
												<tr class="detail">
													<td ><img src="img/cell.png" style="width:10px;"> <span dialer-call short=false COD_PAIS={{employee.COD_PAIS}}> {{employee.TELEFONOMOVILLARGO}}</span></td>
													<td style="padding-left:20px;">Ext: <span dialer-call short=true COD_PAIS={{employee.COD_PAIS}}>{{employee.TELEFONOMOVILCORTO}}</span></td>
												</tr>									
											</table>											
										</div>
									</td>								
								</tr>								
							</table>
						</div>						
					</li>
				</ul>
			</div>			
		</div>
	</body>
</html>
